<div id="<%= dom_id note %>" class="mb-6">
  <div class="shadow-sm p-4">
    <% if note.pinned %>
      <p>📌 Pinned!</p>
    <% end %>
    <p class="text">
      <strong>Title:</strong>
      <%= note.title %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= note.body %>
    </p>
    <u><%= link_to "Show this note", note %></u>
  </div>
</div>
