<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <% if note.pinned %>
    <p>📌 This note is pinned!</p>
  <% end %>


  <p>
    <strong>Body:</strong>
    <%= note.body %>
  </p>


  <% if note.created_at.min % 2 == 0 %>
    <p style="color: green;">
      This note is even!
    </p>
  <% else %>
    <p style="color: red;">
      This note is odd!
    </p>
  <% end %>

</div>
