<div id="<%= dom_id note %>">
  <div class="border shadow-sm p-4">
    <% if note.pinned %>
      <p>📌 Pinned!</p>
    <% end %>
    <p>
      <strong>Title:</strong>
      <%= note.title %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= note.body %>
    </p>
    <p><%= link_to "Show this note", note %></p>
  </div>
</div>
